# Audio Transcription

### I. Data Gathering

The dataset used for this project is the Common Voice dataset. Common Voice is a massive multi-lingual corpus of read speech by Mozilla [1]. This project used Common Voice Corpus 20.0 subset for Indonesian language.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

##### 1. Training Data

In [2]:
train_df = pd.read_csv("../data/cv-corpus-6.1-indonesian/train.tsv", sep = "\t")

In [3]:
train_df.head(5)

,client_id,path,sentence,up_votes,down_votes,age,gender,accent,locale,segment
0,4c81270f49ada076d376a968994e1533674531b0fae896...,common_voice_id_19192526.mp3,Kamar adik laki-laki saya lebih sempit daripad...,2,0,twenties,male,NaN,id,NaN
1,4c81270f49ada076d376a968994e1533674531b0fae896...,common_voice_id_19192527.mp3,Ayah akan membunuhku.,2,0,twenties,male,NaN,id,NaN
2,4c81270f49ada076d376a968994e1533674531b0fae896...,common_voice_id_19192528.mp3,Ini pulpen.,2,0,twenties,male,NaN,id,NaN
3,4c81270f49ada076d376a968994e1533674531b0fae896...,common_voice_id_19192535.mp3,Akira pandai bermain tenis.,2,0,twenties,male,NaN,id,NaN
4,4c81270f49ada076d376a968994e1533674531b0fae896...,common_voice_id_19192536.mp3,Dia keluar dari ruangan tanpa mengatakan sepat...,2,1,twenties,male,NaN,id,NaN

In [4]:
train_df = train_df[train_df["up_votes"] >= train_df["down_votes"]]
train_df = train_df[["path", "sentence"]]

In [5]:
train_df.duplicated().sum()

0

In [6]:
train_df.isna().sum()

path        0
sentence    0
dtype: int64

##### 2. Testing Data

In [7]:
test_df = pd.read_csv("../data/cv-corpus-6.1-indonesian/test.tsv", sep = "\t")

In [8]:
test_df.head(5)

,client_id,path,sentence,up_votes,down_votes,age,gender,accent,locale,segment
0,057bf45c0c338db897f5717f744bcac8a2ac2eee990a42...,common_voice_id_22888800.mp3,Minggu depan kakak perempuan saya menikah.,2,0,NaN,NaN,NaN,id,NaN
1,0835fbbf1d609a6ed421eef134a48ff06d719121b41f3b...,common_voice_id_24015257.mp3,Berbagai bahasa daerah dan bahasa asing menjad...,2,1,NaN,NaN,NaN,id,NaN
2,0c8ac0307f35c73b09d8fc0d92e4c183e3078adee87212...,common_voice_id_24015280.mp3,apa yang bisa saya berikan kepadamu?,2,0,NaN,NaN,NaN,id,NaN
3,19285f8e012ad31cad237d53bab348ce59a5cc13684754...,common_voice_id_20425643.mp3,Inilah dunia kecil.,2,1,NaN,NaN,NaN,id,NaN
4,3502377c5fb712169a3f2fe5583906e4b3a5ecba27bf2c...,common_voice_id_22185104.mp3,nol,2,0,NaN,NaN,NaN,id,Benchmark

In [9]:
test_df = test_df[test_df["up_votes"] >= test_df["down_votes"]]
test_df = test_df[["path", "sentence"]]

In [10]:
test_df.duplicated().sum()

0

In [11]:
test_df.isna().sum()

path        0
sentence    0
dtype: int64

##### 3. Split Data

In [12]:
valid_df, test_df = train_test_split(test_df, test_size = 0.5, random_state = 42)

### II. Data Preprocessing

### III. Feature Extraction

### IV. Modeling

### V. Model Evaluation

### VI. Conclusion

### VII. References

[1] L. Maison and Y. Estève, “Some voices are too common: Building fair speech recognition systems using the Common Voice dataset.”